@import "../sass/variables/variables.scss";
@import "../sass/variables/mixins.scss";

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
  padding: 0 20px;
  color: $color-primary;
  .logo {
    .img {
      height: 68px;
    }
  }
  nav {
    font-size: 1.5em;
    font-weight: 400;
  }
  .nav__list {
    list-style: none;
    display: flex;
  }
  .list__item {
    margin-right: 50px;
    &:hover {
      text-decoration: underline;
    }
  }
}
